@import '../../../../reset.scss';

body {
    h1 {
        position: absolute;
        width: 544px;
        height: 61px;
        left: 0px;
        top: 300px;
        font-family: 'Bobaesum Jindo TTF';
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 61px;
        color: $textStrong;

    }
}