.bannerStyle{
    position : relative;
    overflow : hidden;
    left : 50px;
    top : 120px;
    width : 1805px;
    height : 381px;

    .slider{
        display : flex;
        transition: transform 0.5s ease-in-out;

        .slide{
            min-width : 100%;
            box-sizing : border-box;
        }
    }
}