@charset "UTF-8";

.signupBasic {
    background-color: #FFF3A7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.signup {
box-sizing: border-box;

position: absolute;
width: 976px;
height: 455px;
left: 461px;
top: 250px;

background: #FFFFFF;
border: 5px solid #FF8AA3;
border-radius: 50px;
}

.signupLogo {

position: absolute;
width: 220px;
height: 169.51px;
left: 100px;
top: 170px;
}

.signupText {
position: absolute;
width: 241px;
height: 63px;
left: 90px;
top: 70px;

font-family: 'Mungyeong Gamhong Apple';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 62px;

color: #FF8AA3;
}

input {

position: absolute;
width: 499.5px;
height: 52.5px;
left: 370px;
top: 170px;

border: 3px solid #000000;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
padding-left: 10px;
}

.error {
position:absolute;
width: 500px;
height: 52.5px;
left: 375px;
top: 230px;
color : red;
line-height: 21px;
}

.signupId::placeholder {
  color : #AAAAAA
}

.loginButton {
background: #FFF3A7;
border-radius: 25px;

position: absolute;
width: 117px;
height: 40px;
left: 653px;
top: 300px;
border: none;

font-family: 'Pretendard-Regular';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
/* identical to box height */

color: #000000;
}

.nextButton {
position: absolute;
width: 83px;
height: 38px;
left: 803px;
top: 300px;
border: none;

background: #FF8AA3;
border-radius: 25px;

font-family: 'Pretendard-Regular';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;

color: #000000;
}

.loginButton:active {
 margin-left: 2px;
 margin-top: 1px;
 box-shadow: 1px 0px 1px 1px black;
}

.nextButton:active {
  margin-left: 2px;
  margin-top: 1px;
  box-shadow: 1px 0px 1px 1px black;
 }

 .inputFieldset {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease;
}

 /* 까지가 공통적이라고 할 수 있음 */

/* @media (max-width: 1024px) and (min-width:769px) */

/* @media (max-width: 768px) */

