@import '../../../../common/header/css/reset.scss';

div {
    .slidewrap {
        width: 90vw;
        height: 75vw;
        position: relative;
        overflow: hidden;
        top: 5vw;
        left: 3.5vw;
        list-style: none;

        .slides {
            display: flex;



            .slide {

                flex: 0 0 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90vw;
                height: 80vh;
                overflow: hidden;
                position: relative;

                .section1,
                .section2,
                .section3,
                .section4,
                .section5 {
                    flex-shrink: 0;
                    /* 슬라이드가 줄어들지 않도록 */
                    width: 100vw;
                    /* 각 슬라이드의 너비를 화면 너비에 맞추기 */
                    height: 75vw;
                    /* 높이도 비슷하게 맞추기 */
                }

                div {
                    h3 {
                        position: absolute;
                        left: 9vw;
                        top: 24.5vw;
                        font-family: 'Bobaesum Jindo TTF';
                        font-size: 2vw;
                        color: $primary;
                        z-index: 1;
                    }

                    img {
                        position: absolute;
                        width: 19vw;
                        left: 6vw;
                        top: 18.5vw;
                    }

                    p {
                        position: absolute;
                        left: 7vw;
                        top: 29vw;
                        font-family: 'Pretendard Variable';
                        font-weight: 700;
                        font-size: 1.4vw;
                        color: $textStrong;
                    }

                    span {
                        position: absolute;
                        width: 24vw;
                        left: 7vw;
                        top: 32vw;
                        font-family: 'Pretendard Variable';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 1vw;
                        line-height: 126%;
                        color: $textStrong;
                    }
                }
            }


        }
    }

    .pagination {
        ul {
            position: relative;
            gap: 5vw;
            left: 33vw;
            top: -9vw;

            li {
                display: inline-block !important;
                margin-left: 3vw !important;
                width: 1vw !important;
                height: 1vw !important;
                background-color: #FEBA00 !important;
                border-radius: 50px !important;
                opacity: 0.5 !important;
                cursor: pointer !important;

                &.act {
                    opacity: 1 !important; // 활성화된 상태의 색상
                }
            }
        }
    }

    .search {
        input {
            position: absolute;
            width: 60vw;
            height: 5vw;
            left: 20vw;
            top: 55vw;
            border-radius: 50px;
            border: $primary 3px solid;
            background-color: $secondary2;
            color: #FEBA00;
            font-family: 'Pretendard Variable';
            font-weight: 700;
            font-size: 1.3vw;
        }

        img {
            position: absolute;
            width: 3.5vw;
            left: 75vw;
            top: 55.7vw;
        }
    }

    .btn {
        position: relative;
        font-size: 5vw;
        top: -22vw;
        left: 2vw;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .rightbtn {
        left: 85vw;
        top: -27vw;
    }


    .category {
        h3 {
            position: absolute;
            left: calc(50% - 401px/2 - 0.5px);
            top: 68vw;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 2.5vw;
            color: $textStrong;
        }

        p {
            position: absolute;
            left: 40vw;
            top: 71.5vw;
            font-family: 'Pretendard Variable';
            font-size: 1.2vw;
            text-align: center;
            color: $textStrong;
        }

        div {
            position: absolute;
            width: 5vw;
            height: 2vw;
            left: 15vw;
            top: 80vw;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;

            &:nth-of-type(2) {
                left: 30.5vw;
                top: 82vw;
            }

            &:nth-of-type(3) {
                left: 46vw;
            }

            &:nth-of-type(4) {
                left: 61.5vw;
                top: 82vw;
            }

            &:nth-of-type(5) {
                left: 77vw;
            }

            p {
                color: $textStrong;
                position: absolute;
                left: 1.5vw;
                top: 0.5vw;
                font-family: 'Pretendard Variable';
                font-weight: 500;
                font-size: 1.2vw;
                z-index: 5;
            }

        }

        img {
            width: 10vw;
            border-radius: 10%;
            position: absolute;
            left: 12.5vw;
            z-index: -1;
            opacity: 0.8;
            top: 76vw;

            &:nth-of-type(2) {
                left: 28vw;
                top: 78vw;
            }

            &:nth-of-type(3) {
                left: 43.5vw;
            }

            &:nth-of-type(4) {
                left: 59vw;
                top: 78vw;
            }

            &:nth-of-type(5) {
                left: 74.5vw;
            }

            &:hover {
                opacity: 1;
            }
        }

        span {
            position: absolute;
            left: 14.5vw;
            top: 87.5vw;
            font-family: 'Pretendard Variable';
            font-weight: 500;
            font-size: 20px;
            color: $textStrong;
            background-color: $secondary2;
            padding: 0.5vw 1vw;
            border-radius: 50px;

            &:nth-of-type(2) {
                left: 30vw;
                top: 89.5vw;
            }

            &:nth-of-type(3) {
                left: 45.5vw;
            }

            &:nth-of-type(4) {
                left: 61vw;
                top: 89.5vw;
            }

            &:nth-of-type(5) {
                left: 77vw;
            }
        }
    }

    .location {
        position: absolute;
        width: 100vw;
        height: 30vw;
        top: 100vw;
        background: $secondary2;
        left: 0;

        h3 {
            position: absolute;
            left: 55vw;
            top: 5vw;
            font-family: 'Bobaesum Jindo TTF';
            font-size: 2vw;
            color: $textStrong;
        }

        img:nth-of-type(1) {
            position: absolute;
            left: 55vw;
            width: 9vw;
            top: 8vw;
            border: 3px solid #FF8AA3;
            border-radius: 20px;
        }

        p {
            position: absolute;
            font-family: 'Pretendard Variable';
            font-weight: 700;
            font-size: 0.8vw;
            color: $textStrong;
        }

        p:nth-of-type(1) {
            left: 65vw;
            top: 8.5vw;
        }

        p:nth-of-type(2) {
            left: 65vw;
            top: 10vw;
        }

        p:nth-of-type(3) {
            left: 65vw;
            top: 13vw;
        }

        span {
            position: absolute;
            font-family: 'Pretendard Variable';
            font-style: normal;
            font-weight: 500;
            font-size: 0.8vw;
            color: $textStrong;
        }

        span:nth-of-type(1) {
            left: 69vw;
            top: 8.5vw;
        }

        span:nth-of-type(2) {
            left: 65vw;
            top: 11.5vw;
        }

        span:nth-of-type(3) {
            left: 70.5vw;
            top: 13vw;
        }

        input {
            position: absolute;
            width: 20.5vw;
            height: 2.3vw;
            background: #FFFFFF;
            border-radius: 20px;
            border: none;
            outline: none;
            color: $textCaption;
            font-size: 0.8vw;
            font-weight: normal;

        }

        input:nth-of-type(1) {
            left: 55vw;
            top: 15.5vw;
            text-align: center;
        }

        input:nth-of-type(2) {
            left: 55vw;
            top: 18.5vw;
            text-align: center;
        }

        label:nth-of-type(1) {
            position: absolute;
            left: 55.5vw;
            top: 16.6vw;
            font-family: 'Pretendard Variable';
            font-weight: 600;
            font-size: 0.8vw;
            color: $textStrong;
        }

        label:nth-of-type(2) {
            position: absolute;
            left: 55.5vw;
            top: 19.6vw;
            font-family: 'Pretendard Variable';
            font-weight: 600;
            font-size: 0.8vw;
            color: $textStrong;
        }

        button {
            position: absolute;
            width: 9.5vw;
            height: 1.8vw;
            left: 55vw;
            top: 22vw;
            background: $primary;
            border-radius: 50px;
            border: none;
            color: $textStrong;
            font-weight: 700;
            font-family: 'Pretendard Variable';
            font-size: 0.8vw;
        }

        button:nth-of-type(2){
            left: 66vw;
            background-color: #FFA8B8;
        }
        img:nth-of-type(2){
            position: absolute;
            width: 7vw;
            left: 46vw;
            top: 12vw;
            z-index: 10;
        }
    }
}