
#inquiryInfoModal{
    display: flex;
  
    position: fixed;
    width: 1541px;
    height: 644px;
    left: 194px;
    top: 163px;
  
    background: #FFFFFF;
  
    border: 3px solid #FF8AA3;
    border-radius: 50px;
    /* z-index: 1000005; */
  }

  #inquiryInfoText{


        position: absolute;
        width: 176px;
        height: 56.18px;
        left: 91px;
        top: 53px;

        font-family: 'Bobaesum Jindo TTF';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        
        text-align: center;

        color: #232323;


  }

  #backToInquiryListBtn{

        position: absolute;
        width: 180px;
        height: 51px;
        left: 1107px;
        top: 43px;

        background: #FFC6D2;
        border-radius: 50px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        

        color: #232323;

        border: none;
  }
  #deleteInquiryBtn{
    
    position: absolute;
    width: 180px;
    height: 51px;
    left: 1307px;
    top: 43px;

    background: #FF8AA3;
    border-radius: 50px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    

    color: #232323;

    border: none;

  }
  #inquiryInfoTitleText{
    position: absolute;
    width: 127px;
    height: 36px;
    left: 91px;
    top: 154px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #232323;
  }
  #inquiryInfoTitle{
        position: absolute;
        width: 600px;
        height: 30px;
        left: 230px;
        top: 156px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;

        color: #232323;


  }
  #inquiryInfoDate{
        
    position: absolute;
    height: 36px;
    left: 1107px;
    top: 154px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    

    color: #232323;
  }
  #inquiryInfoDate p{
        display: inline-block;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        align-content: center;

  }
  #inquiryInfoContent{


    position: absolute;
    width: 1403px;
    height: 158px;
    left: 85px;
    top: 201px;

    background: #FFF9D1;
    border-radius: 30px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #232323;

    padding-left: 25px;
    padding-top: 8px;

    overflow: hidden;
    white-space: pre-wrap;
  }

  #inquiryInfoFile{
        position: absolute;
        width: 182px;
        height: 34px;
        left: 87px;
        top: 362px;

        background: #FEDA00;
        border-radius: 50px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        

        text-align: center;
        align-content: center;

        color: #232323;


  }

  #isAnswerTitleText{
    position: absolute;
    width: 127px;
    height: 36px;
    left: 91px;
    top: 400px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    
    color: #232323;
  }
  #isAnswerTitle{
    position: absolute;
        width: 600px;
        height: 30px;
        left: 230px;
        top: 401px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;

        color: #232323;


  }
  #isAnswerDate{
        
    position: absolute;
    height: 36px;
    left: 1107px;
    top: 400px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    

    color: #232323;
  }
  #isAnswerDate p{
        display: inline-block;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        align-content: center;

  }
  
  #isAnswerContent{
    
    position: absolute;
    width: 1403px;
    height: 158px;
    left: 85px;
    top: 451px;

    background: #FFF9D1;
    border-radius: 30px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: #232323;

    padding-left: 25px;
    padding-top: 8px;

    overflow: hidden;
    white-space: pre-wrap;
    /* transition: height 0.1s ease; */
  }

  #isAnswerContent.expanded, #inquiryInfoContent.expanded{
    position: absolute;
    z-index: 1000000;
    left: 87px;
    top: 130px;
    height: 480px; /* 확장 시 최대 높이 제한 제거 */
  }

  #inquiryOverFlowBtn{
    position: absolute;
    width: 80px;
    height: 26px;
    left: 1407px;
    top: 360px;

    
    background: #FEDA00;
    border-radius: 10px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  

    text-align: center;
    align-content: center;

    border: none;

    color: #232323;
  }
  #answerOverFlowBtn{
    position: absolute;
    width: 80px;
    height: 26px;
    left: 1407px;
    top: 610px;

    
    background: #FEDA00;
    border-radius: 10px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  

    text-align: center;
    align-content: center;

    border: none;

    color: #232323;
  }

  #inquiryOverFlowBtn.activeBtn, #answerOverFlowBtn.activeBtn{
    z-index: 1000000000000;
    position: absolute;
    width: 80px;
    height: 26px;
    left: 1407px;
    top: 610px;
  }

  #answerAreaNoAnswer{
    position: absolute;
    width: 1131px;
    height: 120px;
    left: 85px;
    top: 451px;

    background: #FFF3A7;
    border-radius: 30px;
  }

  #noAnswerImg{
    position: absolute;
    left: 0px;
    top: -30px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #232323;
  }

  #noAnswerContent{
    position: absolute;
    width: 881px;
    height: 36px;
    left: 230px;
    top: 40px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    

    color: #232323;
  }

  #noAnswerUpdateBtn{

    position: absolute;
    width: 180px;
    height: 51px;
    left: 1165px;
    top: 55px;

    background: #FEDA00;
    border-radius: 50px;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;

    color: #232323;

    text-align: center;
    align-content: center;

    border: none;
  }
