

#storeInquiryListModal{
    display: flex;
  
    position: fixed;
    width: 1541px;
    height: 644px;
    left: 194px;
    top: 163px;
  
    background: #FFFFFF;
  
    border: 3px solid #FF8AA3;
    border-radius: 50px;
    /* z-index: 1000005; */
  }

  #storeInquiryListText{


        position: absolute;
        width: 176px;
        height: 56.18px;
        left: 91px;
        top: 53px;

        font-family: 'Bobaesum Jindo TTF';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        
        text-align: center;

        color: #232323;


  }

  #cancleInquiryListBtn{
        position: absolute;
        width: 180px;
        height: 51px;
        left: 1262px;
        top: 47px;

        background: #FF8AA3;
        border-radius: 50px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        
        border: none;

        color: #232323;
  }

  #listArea{
    position: absolute;
        left: 91px;
        top: 173px;
  }

  #inquiryListBody{
    border-bottom: solid 1px #BDBEBF;
    
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    
    align-items: center;
    align-content: center;
    height: 89px;

    
    color: #232323;


  }

  .inquiryState{
    display: inline-block;
    width: 391px;
    
    align-content: center;
    padding-left: 5px;
  }

  .inquiryDate{
    display: inline-block;
    width: 315px;
    align-content: center;
  }

  .inquiryTitle{
    display: inline-block;
    width: 607px;
    align-content: center;
    align-items: center;
  }

  .inquiryTitleText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  #inquiryListHeader{
    position: absolute;
    left: 91px;
    top: 133px;
    border-bottom: solid 5px #BDBEBF;
    
  }

  .header{
    height: 37px;
    padding-left: 10px;
    align-content: start;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    

    color: #232323;


  }

  .pageNation{
    position: absolute;
    left: 670px;
    top: 580px;
    width: 200px;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .pageNation button{
    background-color: white;
    border: none;
    font-size: 20px;
    color: #FF8AA3;
    margin-left: 5px;
  }

  .pageNation button.active{
    background-color: #FF8AA3;
    color: white;
  }

  /* 반응형 */
@media (max-width: 768px) {

    #storeInquiryListModal{
  
      position: fixed;
      width: 278px;
      height: 320px;
      left: 46px;
      top: 19px;
  
      background: #FFFFFF;
  
      border: 3px solid #FF8AA3;
      border-radius: 20px;
  
      z-index: 100000000000;
    }

      #storeInquiryListText{


        position: absolute;
        width: 76px;
        height: 56.18px;
        left: 15px;
        top: 18px;

        font-family: 'Bobaesum Jindo TTF';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        
        text-align: left;

        color: #232323;


  }

  #cancleInquiryListBtn{
        position: absolute;
        width: 50px;
        height: 20px;
        left: 200px;
        top: 16px;

        background: #FF8AA3;
        border-radius: 8px;

        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        
        border: none;

        color: #232323;
  }

  #listArea{
    position: absolute;
        left: 7px;
        top: 90px;
  }

  #inquiryListBody{
    border-bottom: solid 1px #BDBEBF;
    
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    
    align-items: center;
    align-content: center;
    height: 40px;

    
    color: #232323;


  }

  .inquiryState{
    display: inline-block;
    width: 55px;
    
    align-content: center;
    
  }

  .inquiryDate{
    display: inline-block;
    width: 80px;
    align-content: center;
  }

  .inquiryTitle{
    display: inline-block;
    width: 120px;
    align-content: center;
    align-items: center;
  }

  .inquiryTitleText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  #inquiryListHeader{
    position: absolute;
    left: 7px;
    top: 60px;
    border-bottom: solid 3px #BDBEBF;
    
  }

  .header{
    height: 20px;
    padding-left: 5px;
    align-content: start;

    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    

    color: #232323;


  }

  .pageNation{
    position: absolute;
    left: 60px;
    top: 270px;
    width: 150px;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .pageNation button{
    background-color: white;
    border: none;
    font-size: 10px;
    color: #FF8AA3;
    margin-left: 5px;
  }

  .pageNation button.active{
    background-color: #FF8AA3;
    color: white;
  }

}

/* 반응형 */
@media (max-width: 1440px) and (min-width: 769px) {
  #storeInquiryListModal{
    /* Rectangle 203 */

      position: fixed;
      width: 931px;
      height: 389px;
      left: 46px;
      top: 155px;

      background: #FFFFFF;
      /* primary */
      border: 3px solid #FF8AA3;
      border-radius: 30px;

      z-index: 100000000000;
  }

    #storeInquiryListText{


      position: absolute;
      width: 176px;
      height: 56.18px;
      left: 21px;
      top: 25px;

      font-family: 'Bobaesum Jindo TTF';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      
      text-align: center;

      color: #232323;


}

#cancleInquiryListBtn{
      position: absolute;
      width: 100px;
      height: 31px;
      left: 772px;
      top: 20px;

      background: #FF8AA3;
      border-radius: 50px;

      font-family: 'Pretendard Variable';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      
      border: none;

      color: #232323;
}

#listArea{
  position: absolute;
      left: 51px;
      top: 115px;
}

#inquiryListBody{
  border-bottom: solid 1px #BDBEBF;
  
  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  
  align-items: center;
  align-content: center;
  height: 55px;

  
  color: #232323;


}

.inquiryState{
  display: inline-block;
  width: 191px;
  
  align-content: center;
  padding-left: 5px;
}

.inquiryDate{
  display: inline-block;
  width: 205px;
  align-content: center;
}

.inquiryTitle{
  display: inline-block;
  width: 407px;
  align-content: center;
  align-items: center;
}

.inquiryTitleText{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

#inquiryListHeader{
  position: absolute;
  left: 51px;
  top: 80px;
  border-bottom: solid 3px #BDBEBF;
  
}

.header{
  height: 30px;
  padding-left: 10px;
  align-content: start;

  font-family: 'Pretendard Variable';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  

  color: #232323;


}

.pageNation{
  position: absolute;
  left: 365px;
  top: 350px;
  width: 200px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.pageNation button{
  background-color: white;
  border: none;
  font-size: 15px;
  color: #FF8AA3;
  margin-left: 5px;
}

.pageNation button.active{
  background-color: #FF8AA3;
  color: white;
}

}  